@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #1c2429;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  max-height: 100%;
}
.topbar {
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: transparent;
  z-index: 1000;
  transition: 0.5s;
}
.topbar ul {
  float: right;
  margin-right: 5rem;
  margin-top: 2rem;
}
.topbar li {
  font-size: 1.5rem;
  list-style-type: none;
  display: inline-block;
}
.topbar a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  transition: 0.5s;
}
.topbar a:hover{
  color: #19bb4a;
}
.colored {
  background-color: #19bb4a;
  border-radius: 12px;
}
.colored:hover{
  color: #000 !important;
}
.logo {
  display: flex;
  float: left;
  color: #fff;
  margin-top: 2rem;
  font-size: 1.8rem;
  margin-left: 10rem;
}
.scroll {
  transition: 1.5s;
  background-color: rgba(0, 0, 0, 0.699);
}
.container {
  display: flex;
  background: url(images/svg.svg) no-repeat;
  clip-path: polygon(0 0,100% 0%,100% 90%,0 100%);
  background-color: #101010;
  height: 67.5rem;
  width: 100%;
}
.introduction {
  margin-top: 18rem;
  margin-left: 8rem;
  float: left;
  background-color: transparent;
  color: #fff;
  width: 22rem;
  height: auto;
  font-size: 2rem;
}
.name{
  font-family: "Berkshire Swash", cursive;
}
.text33 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
.word {
  color: #19bb4a;
  animation: blink 0.7s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.github {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #19bb4a;
  text-decoration: none;
  color: #fff;
  transition: 1s;
  font-family: "Poppins", sans-serif;
}
.github:hover{
  color: #000;
}
.fa-github{
  font-size: 2rem;
}
.linebreak {
  content: "";
  display: block;
  margin: 1rem;
}
.aboutme {
  height: 50rem;
  background-color: #1c2429;
  width: 100%;
}
.header {
  margin-left: 18rem;
  width: 24rem;
  color: #fff;
  font-size: 5rem;
  text-align: left;
}
.textcontainer {
  margin-left: 18rem;
  width: 45rem;
  height: auto;
}
.textcontainer h2 {
  color: #19bb4a;
  text-align: left;
  line-height: 2;
}
.text {
  text-align: left;
  color: #fff;
  font-size: 1.5rem;
}
.icons{
  display: flex;
  gap: 1rem;
}
.fa-html5 {
  font-size: 8rem;
  color: #e34c26;
}
.fa-css3-alt {
  font-size: 8rem;
  color: #2965f1;
}
.fa-js {
  font-size: 8rem;
  color: #f0db4f;
}
.fa-node-js{
  font-size: 8rem;
  color: #3c873a;
}
.projects {
  background-color: #101010;
  clip-path: polygon(0 0,100% 10%,100% 90%,0 100%);
  height: 63.1rem;
  width: 100%;
}
.header2 {
  color: #fff;
  font-size: 5rem;
  line-height: 12rem;
  text-align: left;
  margin-left: 18rem;
}
.boxes{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-direction: row;
}
.box {
  background-color: #202020;
  box-shadow: 5px 10px #19bb4a;
  width: 25rem;
  height: 20rem;
  border-radius: 12px;
}
.text-container{
  height: 13rem;
  width: 100%;
}
.text-container h1{
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-left: 2rem;
  margin-top: 2rem;
}
.text-container p{
  font-size: 1rem;
  color: #fff;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}
#github{
  margin-left: 2rem;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #19bb4a;
  border-radius: 6px;
  transition: 0.5s;
}
#github:hover{
  background-color: #19bb4a;
  transition: 0.5s;
}
#view{
  margin-left: 1rem;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #19bb4a;
  border-radius: 6px;
  transition: 0.5s;
}
#view:hover{
  background-color: #19bb4a;
  transition: 0.5s;
}
.header3 {
  color: #fff;
  font-size: 5rem;
  line-height: 12rem;
  text-align: left;
  margin-left: 18rem;
}
.contact {
  background-color: #1c2429;
  position: relative;
  height: 50rem;
  width: 100%;
}
.contactform {
  position: relative;
  margin-left: 18rem;
  margin-top: 1rem;
  color: #fff;
  width: 26rem;
  height: auto;
}
.contactform p {
  font-size: 3rem;
}
input {
  height: 3rem;
  font-size: 1.5rem;
  display: block;
  margin: auto;
  width: 100%;
  background-color: #fff;
  border: none;
  color: #fff;
  padding-left: 0.2rem;
}
textarea {
  height: 6rem;
  font-size: 1.5rem;
  display: block;
  margin: auto;
  width: 100%;
  background-color: #fff;
  border: none;
  color: #fff;
  padding-left: 0.2rem;
}
.part {
  width: 25rem;
  text-align: left;
  margin: auto;
}
.part2 {
  width: 25rem;
  text-align: left;
  margin: auto;
}
.part3 {
  width: 25rem;
  text-align: left;
  margin: auto;
}
.part4 {
  width: 25rem;
  text-align: left;
  margin: auto;
}
/* .captcha{
    width: 25rem;
    text-align: left;
    margin: auto;
} */
#submit {
  background-color: #19bb4a;
  border: 1px solid #fff;
  width: 5rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 25px #19bb4a;
  border: none;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin-left: 2rem;
  }
  .topbar ul {
    left: 0.5%;
    display: none;
  }
  .introduction {
    margin: 0 auto;
    margin-top: 18rem;
  }
  .textcontainer {
    text-align: center;
    margin: 0 auto;
    width: 20rem;
    height: auto;
  }
  .textcontainer h2 {
    margin: 0 auto;
    text-align: center;
  }
  .text {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
  }
  .text i {
    font-size: 5rem;
  }
  .contactform {
    margin: 0 auto;
    width: 20rem;
    height: 40rem;
  }
  .contactform p {
    font-size: 2rem;
  }
  .part {
    width: 15rem;
  }
  .part2 {
    width: 15rem;
  }
  .part3 {
    width: 15rem;
  }
  .part4 {
    width: 15rem;
  }
  .header {
    margin: 0 auto;
    text-align: center;
    font-size: 3.5rem;
  }
  .header2 {
    margin: 0 auto;
    text-align: center;
    font-size: 3.5rem;
  }
  .header3 {
    margin: 0 auto;
    text-align: center;
    font-size: 3.5rem;
  }
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #373737;
  width: 100%;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #19bb4a;
}
