@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Cabin:ital@1&display=swap');
*{
    padding: 0px;
    margin: 0px
}
html{
    scroll-behavior: smooth;
    font-family: 'Cabin', sans-serif;
}
body{
    background-color: #191919;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 100%;
}
.topbar ul{
    position: relative;
    margin-top: 0px;
    list-style-type: none;
    float: right;
    display: flex;
    margin-right: 0.52vw;
    z-index: 1000;
}
.topbar li{
    padding-top: 15px;
    display: inline-block; 
    margin-top: 15px;
}
.topbar a{
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.56rem;
    padding: 15px;
    transition: 0.5s;
}
.topbar a:hover{
    background-color: #19bb4a;
}
.topbar{
    transition: 1.5s;
    height: 90px;
    width: 100%;
    background-color: #060606;
    position: fixed;
    z-index: 1000;
}
.scroll{
    transition: 1.5s;
    background-color: rgba(25, 25, 25, 0.6);
}
.colored{
    background-color: #19bb4a;
    padding: 15px;
}
.logo{
    position: relative;
    color: #fff;
    margin-top: 1.5rem;
    font-size: 2.18rem;
    margin-left: 5rem;
}
#background{
    background: url(images/bg1.svg);
    position: relative;
    background-color: #101010;
    max-width: 100%;
    height: 1000px;
}
.backgroundtext{
    position: relative;
    z-index: 600;
    display: flex;
    width: 35%;
    margin-left: 25rem;
    top: 28%;
    color: #fff;
    font-size: 2.18rem;
    letter-spacing: 0.1rem;
}
.word{
    color: #19bb4a;
    animation: blink 0.7s linear infinite;
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
#github{
    position: relative;
    z-index: 500;
    display: flex;
    width: 5rem;
    top: 32%;
    margin-left: 26rem;
    padding: 15px 35px 15px 35px;
    font-size: 1.8rem;
    background-color: #19bb4a;
    font-family: 'Cabin', sans-serif;
    border: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 25px #19bb4a;
    text-decoration: none;
    transition: 0.5s;
}
#github:hover{
    box-shadow: 0 0 5px #19bb4a, 0 0 7px #19bb4a, 0 0 8px #19bb4a, 0 0 12px #19bb4a;
}
.aboutme{
    position: relative;
    height: 92vh;
    width: 100%;
}
.header{
    position: relative;
    color: #fff;
    font-size: 5rem;
    top: 2%;
    text-align: center;
}
.textcontainer{
    margin: 0 auto;
    position: relative;
    top: 5%;
    width: 35vw;
    height: auto;
}
.text{
    color: #fff;
    font-size: 2.18rem;
}
.text i{
    font-size: 9.3rem;
}
.line{
    margin-top: 25px;
    border: 1px solid #19bb4a;
}
.fa-html5{
    color: #e34c26;
}
.fa-css3-alt{
    color: #2965f1;
}
.fa-js{
    color: #f0db4f;
}
.projects{
    position: relative;
    height: 192vh;
    width: 100%;
}
.header2{
    position: relative;
    color: #fff;
    font-size: 5rem;
    top: 1%;
    text-align: center;
}
.line2{
    margin-top: 25px;
    border: 1px solid #19bb4a;
}
.gridcontainer{
    width: 30rem;
    position: relative;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto;
    padding: 10px;
    height: 25%;
    gap: 10px;
}
.grid1{
    display: flex;
    align-items: center;
    background-color: #19bb4a; 
    grid-row-start: 2;
    grid-column-start: 1;
    
    grid-row-end: 2;
    grid-column-end: 2;
}
.grid2{
    display: flex;
    background-color: #19bb4a; 
    grid-row-start: 2;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;
}
.grid3{
    display: flex;
    background-color: #19bb4a; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
}
.grid4{
    display: flex;
   background-color: #19bb4a; 
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;;
}
.header3{
    position: relative;
    color: #fff;
    font-size: 4rem;
    top: 2%;
    text-align: center;
}
.line3{
    border: 1px solid #19bb4a;
    margin-top: 25px;
}
.contact{
    position: relative;
    height: 92vh;
    width: 100%;
}
@media only screen and (max-width : 600px) {
    .logo{
        margin-left: 2rem;
    }
    .topbar ul{
        left: 0.5%;
        display: none;
    }
    .topbar a{
        font-size: 1.2rem;
    }
    .textcontainer{
        top: 6%;
        width: 70%;
        height: auto;
    }
    .text{
        line-height: 25px;
        font-size: 1.8rem;
        text-align: left;
        line-height: 2rem;
    }
    .text i{
        font-size: 5rem;
    }
    .backgroundtext{
        margin: 0 auto;
        width: 21rem;
        font-size: 1.2rem;
    }
    #github{
        padding: 10px 25px 10px 25px;
        margin-left: 2.5rem;
    }
    .gridcontainer{
        width: auto;
    }
}
 ::-webkit-scrollbar{
     width: 7px;
}
::-webkit-scrollbar-track{
    background: #000;
}
::-webkit-scrollbar-thumb{
    background: #373737;
    width: 100%;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover{
    background: #19bb4a;
}
